@font-face {
  font-family: "Playfair Display";
  src: url("../../assets/fonts/ttf/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../assets/fonts/ttf/PlayfairDisplay-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../assets/fonts/ttf/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../assets/fonts/ttf/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}
